@charset "UTF-8";
body {
	overflow: hidden;
}
#intro {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
	z-index: 100;
}
#intro .intro_txt {
	position: relative;
	width: 100%;
	top: 50%;
	margin-top: -68px;
	color: #f6f7f8;
	font-size: 100px;
	text-align: center;
}

#intro .btn_scroll {
	opacity: 0.5;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
	color: #f6f7f8;
	font-size: 12px;
	letter-spacing: 1.5px;
	transition: all 0.6s;
}

#intro .btn_scroll:after {
	display: block;
	width: 1px;
	height: 100px;
	margin: 10px auto 0;
	background: #f6f7f8;
	content: '';
}
#intro .btn_scroll:hover {
	opacity: 1;
	bottom: 10px;
}
/* 레이아웃 */
#wrap {
	opacity: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
	max-width: 1920px;
	height: 100%;
	margin: 0 auto;
	background: #f6f7f8;
}
#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	z-index: 10;
}

#container {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	z-index: 10;
}

/* 헤더 */
#header .logo {
	padding-left: 30px;
}
#header .logo a {
	color: #f6f7f8;
	font-size: 24px;
	line-height: 80px;
	transition: all 0.6s;
}

/* .indicate */
.indicate {
	position: absolute;
	top: 50%;
	right: 12px;
	margin-top: -41px;
	z-index: 10;
}
.indicate ul li + li {
	margin-top: 20px;
}
.indicate ul li a {
	display: block;
	width: 10px;
	height: 10px;
	text-indent: -9999px;
	background: #f6f7f8;
	border: 2px solid #f6f7f8;
	border-radius: 20px;
	transition: all 0.6s;
}
.indicate.on ul li a {
	border-color: #111;
}
.indicate.on ul li.on a {
	background: #111;
}

/* menu */
#content .menu {
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 33.3%;
	height: 100%;
	box-sizing: border-box;
	transition: all 0.6s;
}
#content .menu.opening {
	left: 0 !important;
	width: 100% !important;
	z-index: 3;
	transition: all 0.6s 0.6s;
}
#content .menu.open {
	left: 0 !important;
	width: 100% !important;
	z-index: 3;
	transition: all 0.6s 0.6s;
}

#content .menu.visible {
	transition: all 0.6s 0.6s;
}
#content #menu1 {
	left: 0;
}
#content #menu2 {
	left: 33.3%;
}
#content #menu3 {
	left: 66.6%;
	width: 33.4%;
}
#content #menu1.hiiden {
	top: -100%;
	opacity: 0;
}
#content #menu2.hiiden {
	top: 100%;
	opacity: 0;
}
#content #menu3.hiiden {
	top: -100%;
	opacity: 0;
}
#content #menu2.opening + #menu3.hiiden {
	top: 100%;
}
#content #menu2.closing + #menu3.hiiden {
	top: 100%;
}

#content .menu .menu_box {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	transition: all 0.6s;
	z-index: 5;
}
#content .menu.opening .menu_box {
	width: 350px;
}
#content .menu.open .menu_box {
	width: 350px;
}
#content .menu.closing .menu_box {
	width: 350px;
}
#content .menu .menu_box a {
	display: block;
	width: 100%;
	height: 100%;
	transition: all 0.6s;
}
#content .menu .menu_box a .tit {
	padding-top: 132px;
	padding-right: 65px;
	text-align: right;
	transition: all 0.6s;
}
#content .menu .menu_box a .tit .num {
	display: block;
	position: absolute;
	top: 60px;
	right: 30px;
	color: #fff;
	font-size: 120px;
	font-weight: 700;
	font-style: italic;
	transition: right 0.6s 0.6s;
	opacity: 0.3;
}
#content .menu.opening .menu_box a .tit .num {
	right: 20px;
	transition: right 0.6s;
}
#content .menu.open .menu_box a .tit .num {
	right: 20px;
}
#content .menu .menu_box a .tit .txt {
	display: block;
	color: #f6f7f8;
	font-size: 28px;
	font-weight: 700;
	transition: all 0.6s;
}
#content .menu .menu_box a .tit .txt:before {
	display: inline-block;
	width: 80px;
	height: 2px;
	margin-right: 5px;
	background: #f6f7f8;
	content: '';
	transition: all 0.6s;
}
#content .menu .menu_box a ul {
	position: absolute;
	top: 67px;
	left: 20px;
	transform: rotate(90deg);
	transform-origin: left bottom;
	transition: all 0.6s;
}
#content .menu.opening .menu_box a ul {
	opacity: 0.5;
	left: 10px;
}
#content .menu.open .menu_box a ul {
	left: 10px;
}
#content .menu.closing .menu_box a ul {
	opacity: 0.5;
	left: 10px;
	transition: all 0.6s;
}

#content .menu .menu_box a .more {
	display: block;
	position: absolute;
	bottom: 45px;
	left: 30px;
	font-style: italic;
	font-size: 20px;
	color: #f6f7f8;
	font-weight: bold;
	transition: color 0.6s, opacity 0.6s 0.6s;
}
#content .menu .menu_box a .more:after {
	display: inline-block;
	width: 54px;
	height: 24px;
	margin-left: 5px;
	background: url('img/btn_more.png') no-repeat;
	content: '';
	transition: all 0.6s;
}
#content .menu .menu_box a .back {
	display: none;
	opacity: 0;
	position: absolute;
	bottom: 45px;
	right: 30px;
	font-style: italic;
	font-size: 20px;
	color: #f6f7f8;
	font-weight: bold;
	transition: all 0.6s;
}
#content .menu .menu_box a .back:before {
	display: inline-block;
	width: 54px;
	height: 20px;
	margin-right: 5px;
	background: url('img/btn_back.png') no-repeat bottom;
	content: '';
	transition: all 0.6s;
}

#content .menu .menu_box a ul li {
	float: left;
	color: #f6f7f8;
	font-size: 16px;
	font-weight: 700;
	transition: all 0.6s;
}
#content .menu .menu_box a ul li + li {
	margin-left: 20px;
}

#content #menu1 .menu_box {
	background: #333;
}
#content #menu2 .menu_box {
	background: #f6f7f8;
}
#content #menu3 .menu_box {
	background: #111;
}

#content .menu:hover .menu_box a .tit {
	padding-right: 45px;
}
#content .menu.opening .menu_box a .tit {
	padding-right: 45px;
}
#content .menu.open .menu_box a .tit {
	padding-right: 45px;
}

#content .menu:hover .menu_box a .more {
	color: #f6f7f8;
}
#content .menu:hover .menu_box a .more:after {
	background-image: url('img/btn_more_hover.png');
}
#content .menu.opening .menu_box a .more {
	opacity: 0;
	transition: all 0.6s;
}
#content .menu.open .menu_box a .more {
	opacity: 0;
}

#content .menu.opening .menu_box a .back {
	display: block;
}
#content .menu.open .menu_box a .back {
	display: block;
	opacity: 1;
}
#content .menu.closing .menu_box a .back {
	display: block;
	opacity: 0;
}

#content .menu .list_box {
	display: none;
	opacity: 0;
	overflow: auto;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0 40px 0 390px;
	z-index: 1;
	transition: all 0.6s;
	box-sizing: border-box;
}
#content .menu.opening .list_box {
	display: block;
}
#content .menu.open .list_box {
	display: block;
	opacity: 1;
	height: 100%;
}

#content .menu .list_box .scroll_box {
	position: relative;
	width: 100%;
	max-width: 1100px;
	padding: 97px 0 60px;
	margin: 0 auto;
}

#content .menu .list_box div h3 {
	margin-bottom: 10px;
	color: #333;
	font-size: 18px;
}
#content .menu .list_box div h3:before {
	display: inline-block;
	width: 15px;
	height: 2px;
	margin-right: 5px;
	background: #333;
	content: '';
}

/* menu1 상세 */
#content #menu1 .menu_box a {
	background: url('img/menu1.png') no-repeat center;
	background-size: contain;
}
#content #menu1 .list_box .profile .profile_box {
	overflow: hidden;
	padding: 15px 0px;
}
#content #menu1 .list_box .profile .profile_box .img_box {
	width: 100%;
	height: 300px;
	left: 0;
	color: #f6f7f8;
	font-size: 32px;
	text-align: center;
	line-height: 300px;
	background: #333;
}
#content #menu1 .list_box .profile .profile_box .img_box img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
#content #menu1 .list_box .profile .profile_box > ul {
	float: left;
	overflow: hidden;
	width: 100%;
	padding-top: 30px;
}
#content #menu1 .list_box .profile .profile_box > ul > li {
	float: left;
	width: 50%;
	padding-left: 20px;
	margin-bottom: 10px;
	box-sizing: border-box;
}
#content #menu1 .list_box .profile .profile_box ul li .p_tit {
	display: block;
	color: #999;
	font-size: 14px;
	line-height: 27px;
	font-weight: bold;
}
#content #menu1 .list_box .profile .profile_box ul li .p_desc {
	display: block;
	color: #333;
	font-size: 16px;
	line-height: 27px;
	font-weight: bold;
}
#content #menu1 .list_box .profile .profile_box ul li ul {
	overflow: hidden;
}
#content #menu1 .list_box .profile .profile_box ul li ul li {
	float: left;
	color: #333;
	font-size: 16px;
	font-weight: bold;
	line-height: 27px;
}
#content #menu1 .list_box .profile .profile_box ul li ul li + li {
	margin-left: 30px;
}

#content #menu1 .list_box .skills {
	margin-top: 60px;
}
#content #menu1 .list_box .skills ul {
	padding: 15px 20px;
}
#content #menu1 .list_box .skills ul li {
	float: left;
	width: 33.333%;
	color: #333;
	font-size: 16px;
}

/* menu2 상세 */
#content #menu2 .menu_box {
	border-right: 2px solid #111;
	border-left: 2px solid #333;
}
#content #menu2 .menu_box a {
	background: url('img/menu2.png') no-repeat center;
	background-size: contain;
}
#content #menu2 .menu_box a .tit .num {
	color: #000;
}
#content #menu2 .menu_box a .tit .txt {
	color: #111;
}
#content #menu2 .menu_box a .tit .txt:before {
	background: #111;
}
#content #menu2 .menu_box a ul li {
	color: #111;
}
#content #menu2 .menu_box a .more {
	color: #111;
}
#content #menu2 .menu_box a .more:after {
	background-image: url('img/btn_more2.png');
}
#content #menu2 .menu_box a .back {
	color: #111;
}
#content #menu2 .menu_box a .back:before {
	background-image: url('img/btn_back2.png');
}

#content #menu2 .list_box .scroll_box {
	padding-top: 70px;
}
#content #menu2 .list_box .work {
	padding: 15px 0px;
}
#content #menu2 .list_box .work h4 {
	font-size: 24px;
	margin-bottom: 30px;
}

#content #menu2 .list_box .work .pager {
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: 222;
}
#content #menu2 .list_box .work .pager ul {
	overflow: hidden;
	display: flex;
	gap: 30px;
}
/* #content #menu2 .list_box .work .pager ul li {
	float: left;
} */
/* #content #menu2 .list_box .work .pager ul li + li {
	margin-left: 18px;
} */
#content #menu2 .list_box .work .pager ul li a {
	display: block;
	width: 14px;
	height: 14px;
	text-indent: -9999px;
	background: #f6f7f8;
	border: 2px solid #111;
	border-radius: 20px;
	cursor: pointer;
}
#content #menu2 .list_box .work .pager ul li.on a {
	background: #aaa;
}

#content #menu2 .list_box .work .panel ul li .work_img {
	position: relative;
	width: 100%;
	height: 250px;
}
#content #menu2 .list_box .work .panel ul li .work_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	vertical-align: top;
}

#content #menu2 .list_box .work .panel ul li .work_txt {
	position: relative;
	padding: 30px 0;
}
#content #menu2 .list_box .work .panel ul li .work_txt > ul {
	overflow: hidden;
}
#content #menu2 .list_box .work .panel ul li .work_txt > ul > li {
	float: left;
	width: 50%;
	padding: 0 20px;
	margin-bottom: 30px;
	line-height: 27px;
	box-sizing: border-box;
}

#content #menu2 .list_box .work .panel ul li .work_txt ul li .work_tit {
	display: block;
	color: #999;
	font-size: 14px;
	font-weight: bold;
}
#content #menu2 .list_box .work .panel ul li .work_txt ul li .work_date {
	display: block;
	color: #333;
	font-size: 16px;
	line-height: 27px;
	font-weight: bold;
}

#content #menu2 .list_box .work .panel ul li .work_txt ul li.work_skill ul {
	overflow: hidden;
}
#content #menu2 .list_box .work .panel ul li .work_txt ul li.work_skill ul li {
	float: left;
	width: 33.333%;
	color: #333;
	font-size: 16px;
	font-weight: bold;
}
#content #menu2 .list_box .work .panel ul li .work_txt ul li.work_desc {
	width: 70%;
}
#content #menu2 .list_box .work .panel ul li .work_txt ul li.work_desc p {
	color: #333;
	font-size: 16px;
	line-height: 27px;
	font-weight: bold;
}

#content #menu2 .list_box .work .panel ul li .work_links {
	display: block;
	position: absolute;
	bottom: 45px;
	right: 20px;
	z-index: 545;
}
#content #menu2 .list_box .work .panel ul li .work_links a {
	display: block;
	width: 120px;
	/* height: 30px; */
	padding: 5px 10px;
	color: #f6f7f8;
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
	background: #333;
}
#content #menu2 .list_box .work .panel ul li .work_links a:last-child {
	margin-top: 10px;
}

/* menu3 상세 */
#content #menu3 .menu_box a {
	background: url('img/menu3.png') no-repeat center;
	background-size: contain;
}
#content #menu3 .menu_box a .tit .num {
	color: #fff;
}
#content #menu3 .menu_box a .tit .txt {
	color: #fff;
}
#content #menu3 .menu_box a .tit .txt:before {
	background: #fff;
}
#content #menu3 .menu_box a ul li {
	color: #fff;
}
#content #menu3 .menu_box a .more {
	color: #fff;
}
#content #menu3 .menu_box a .more:after {
	background-image: url('img/btn_more3.png');
}
#content #menu3 .menu_box a .back {
	color: #fff;
}
#content #menu3 .menu_box a .back:before {
	background-image: url('img/btn_back3.png');
}

#content #menu3 .list_box .ad ul {
	overflow: hidden;
	padding: 15px 0;
}
#content #menu3 .list_box .ad ul li {
	float: left;
	width: 50%;
	padding-left: 20px;
	margin-bottom: 10px;
	box-sizing: border-box;
}
#content #menu3 .list_box .ad ul li .ad_tit {
	display: block;
	color: #999;
	font-size: 14px;
	line-height: 27px;
	font-weight: bold;
}
#content #menu3 .list_box .ad ul li .ad_desc {
	display: block;
	color: #333;
	font-size: 16px;
	line-height: 27px;
	font-weight: bold;
}

#content #menu3 .list_box .send {
	width: 100%;
	margin-top: 50px;
}
#content #menu3 .list_box .send .send_form {
	padding: 15px 20px;
}
#content #menu3 .list_box .send .send_form div {
	float: left;
	width: 50%;
	margin-bottom: 10px;
	box-sizing: border-box;
}
#content #menu3 .list_box .send .send_form div.tit_box {
	padding-right: 20px;
}
#content #menu3 .list_box .send .send_form div.mail_box {
	padding-right: 20px;
}
#content #menu3 .list_box .send .send_form div.name_box {
	padding-left: 20px;
}
#content #menu3 .list_box .send .send_form div.num_box {
	padding-left: 20px;
}
#content #menu3 .list_box .send .send_form div.msg_box {
	width: 100%;
}

#content #menu3 .list_box .send .send_form label {
	display: block;
	color: #999;
	font-size: 14px;
	line-height: 27px;
	font-weight: bold;
}
#content #menu3 .list_box .send .send_form input {
	display: block;
	width: 100%;
	height: 38px;
	color: #f6f7f8;
	text-indent: 10px;
	font-size: 16px;
	background: #333;
}
#content #menu3 .list_box .send .send_form textarea {
	width: 100%;
	height: 220px;
	padding: 10px;
	color: #f6f7f8;
	font-size: 16px;
	line-height: 24px;
	background: #333;
	box-sizing: border-box;
}
#content #menu3 .list_box .send .send_form .btn_sub {
	display: block;
	float: right;
	width: 200px;
	height: 38px;
	margin-top: 30px;
	color: #f6f7f8;
	font-size: 14px;
	font-weight: bold;
	background: #333;
}

/* menu 예비 색상 */
#content .menu:hover .menu_box {
	background: #333;
}
#content .menu.opening .menu_box {
	background: #333;
}
#content .menu.open .menu_box {
	background: #222;
}
#content .menu.closing .menu_box {
	background: #333;
}
#content #menu1.opening .menu_box a {
	background-image: url('img/menu1_hover.png');
}
#content #menu2.opening .menu_box a {
	background-image: url('img/menu2_hover.png');
}
#content #menu3.opening .menu_box a {
	background-image: url('img/menu3_hover.png');
}

#content #menu1.closing .menu_box a {
	background-image: url('img/menu1_hover.png');
}
#content #menu2.closing .menu_box a {
	background-image: url('img/menu2_hover.png');
}
#content #menu3.closing .menu_box a {
	background-image: url('img/menu3_hover.png');
}

/* 푸터 */
#footer .copy {
	float: right;
	margin-right: 20px;
	color: #666;
	font-size: 12px;
	line-height: 40px;
	transition: all 0.6s;
}
